<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="EzPos.Properties.Settings.ezpos_eco_electricConnectionString"
      connectionString="Data Source=MATRIX-PC;Initial Catalog=ezpos_eco_electric;Persist Security Info=True;User ID=sa;Password=matrix"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServiceHibernatePath" value="./../HibernateConfig.xml" />
  </appSettings>
</configuration>